body{
/*	max-width: 40rem;
	margin-left: auto;
	margin-right: auto;
		font-size: 2rem;*/
	font-family: sans-serif;
	background: #fefefe;
	background-image: url(images/gra.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
}
.block{
	display:block!important;
	max-width: 100%;
	height: auto;
}

#menubtn img{
	width: 20px;
	margin-top:15px;
	color: black;
	}
